git+http://github.com/DeejayRevok/news-service-lib.git@3.1.0
celery
elastic-apm
requests==2.23.0
xmltodict==0.12.0
psutil==5.7.0
python-logstash==0.4.6
bs4==0.0.1
lxml==4.9.1
pika==1.1.0
dynaconf
elastic-apm==6.0.0